.pricing-card {
    padding: 20px;
    width: 250px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center; 
    text-align: center;
    
    border-width: 2px;
    border-style: solid; 
    min-height: 200px; 
}

.skin-basic {
    background-color: #f1e6e6d8;
    border: 2px solid #686565; 
}

.skin-pro {
    background-color: #c0d8f3;
    border: 3px solid #0444bbc2;
}

.skin-enterprise {
    background-color: #d2fadc;
    border: 4px dashed #26af0bc2;
}

