.badge-base {
  display: inline-block; 
  padding: 4px 8px; 
  font-size: 10px; 
  text-transform: uppercase; 
  border-radius: 12px; 
  color: white; 
  font-weight: bold; 
  vertical-align: middle;
}

.badge-skin-new {
  background-color: #007bff;
}
.badge-skin-sale {
  background-color: #dc3545;
}
.badge-skin-featured {
  background-color: #ffc107; 
  color: #333;
}