.input-base {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box; 
  outline: none;
  margin-bottom: 5px;
}

.input-skin-error {
  border-color: red;
  background-color: #ffe6e6;
}
.input-skin-success {
  border-color: green;
  background-color: #e6ffe6;
}
