 /* El OBJETO (agnóstico al contenedor)*/

 .media {
    display: flex;
    align-items: start;
    gap: 15px;
    background: #f9f9f9;
    padding: 10px;
 }
 .media-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 70%;
 }
 .media-body {
    flex: 1;
 }

 /* CONTENEDORES EXTERNOS */
 .sidebar {
    width: 200px; border: 1px solid red; padding: 10px;
 }
 .main {
    width: 100%; border: 1px solid blue; padding: 10px;
 }