.globalwidth {
   width: 650px;
   margin: 0 auto;
   position: relative;
   padding-left: 20px;
   padding-right: 20px;
   overflow: hidden;
}

/* CLASE DE PIEL/ESPECÍFICA */
  .header-inside {
    height: 260px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #eee; /* Visualización */
  }
  
  .footer-inside {
    height: 100px;
    background-color: #333;
    color: white;
  }